head
  title Matchs
h1 Listes des matches
each match in query
    table
        thead
            tr
                th(colspan='2') Matche n&deg;
        tbody
            tr
                td
                    button(onclick="editItem(#{item.id})", title="Edit")
                        |  = match.domicile
                td Match nul
                td= match.exterieur
